* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$blue: #4b6cad;
$violet: #72419d;

@font-face {
    font-family: 'Clarendon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Clarendon Regular'), url('./ClarendonRegular.woff') format('woff');
}

body {
    background-color: black;
    font-family: "Clarendon Regular";
    color: white;
    min-height: 100vh;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    align-items: center;
    hr {
        width: 80%;
        height: 2px;
        background: linear-gradient(to left, $blue, $violet);
        margin: 40px auto;
        border: none;
        opacity: 0.8;
    }
}