@mixin text {
    font-size: clamp(1.5rem, 2vw, 3rem);
    max-width: 90vw;
    color:white;
    margin: 30px 40px;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    letter-spacing: 0.08em;
}

.title404 {
    margin: 20px auto;
}
.body404 {
    @include text;
}

@media (max-width: 1024px) {
    main {
        .coltrane404 {
            width: 100%;
            a {
                img {
                    width: 80%;
                    height: auto;
                    padding: 5px;
                }
            }
        }
    }
}