* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Clarendon Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Clarendon Regular"), url("/style/ClarendonRegular.woff") format("woff");
}
body {
  background-color: black;
  font-family: "Clarendon Regular";
  color: white;
  min-height: 100vh;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  align-items: center;
}

hr {
  width: 80%;
  height: 2px;
  background: linear-gradient(to left, #4b6cad, #72419d);
  margin: 40px auto;
  border: none;
  opacity: 0.8;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: column;
  gap: 5px;
  text-align: center;
  place-items: center;
  min-height: 90%;
  min-width: 90%;
  grid-template-areas: "header" "hr1" "main" "hr2" "footer";
}

.header {
  grid-area: header;
  margin: 30px auto 20px;
}
.header h1 {
  font-size: clamp(4rem, 2vw, 6rem);
  background: linear-gradient(to left, #2551a8, #72419d);
  -webkit-background-clip: text;
  background-clip: text; /*remove if trouble*/
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(66, 135, 245, 0.6);
  letter-spacing: 0.15em;
}

.hr1 {
  grid-area: hr1;
}

.main {
  grid-area: main;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  height: auto;
}
.main .subGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row;
  place-items: center;
  gap: 5px 2px;
  font-size: 2rem;
  width: 100%;
  height: auto;
}
.main .subGrid h2 {
  font-size: clamp(1.5rem, 2vw, 3rem);
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 10px auto;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(66, 135, 245, 0.6);
  letter-spacing: 0.1em;
}
.main .subGrid div {
  place-items: center;
}
.main .subGrid div .botones {
  margin: 10px auto;
}
.main .subGrid div .botones button {
  height: 25px;
  min-width: 25px;
  margin: 2px auto;
}
.main div {
  width: 90%;
  height: auto;
  padding: 2px;
  margin: 10px;
}
.main div img {
  max-width: 100%;
  height: auto;
  transition: 3s linear;
}
.main div img:hover {
  transform: scale(1.05);
}

.hr2 {
  grid-area: hr2;
}

.footer {
  grid-area: footer;
  height: auto;
  width: auto;
  max-width: 60vw;
  padding: 40px 10px;
  margin: 5px auto;
}
.footer img {
  height: auto;
  width: 750px;
  max-width: 100%;
  transition: 2s linear;
}
.footer img:hover {
  transform: scale(1.15);
}

/*Media Queries*/
@media (max-width: 1024px) {
  body {
    max-width: 1024px;
    width: 100%;
  }
  body .header {
    width: 80%;
  }
  body .main .subGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    place-items: center;
    gap: 10px 5px;
    margin: 5px auto;
  }
  body .main .subGrid h2 {
    font-size: clamp(1.8rem, 2vw, 3rem);
  }
  body .main .subGrid div img {
    max-width: 80%;
    height: auto;
  }
  body .footer {
    height: auto;
    min-width: 80%;
    width: 100%;
    padding: 20px 10px;
    margin: 5px auto;
  }
  body .footer img {
    height: auto;
    width: 100%;
    transition: 2s linear;
  }
  body .footer img:hover {
    transform: scale(1.15);
  }
}
@media (max-width: 768px) {
  body {
    max-width: 768px;
    min-width: 480px;
    width: 100%;
  }
  body .main .subGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    place-items: center;
    gap: 8px 2px;
  }
  body .main .subGrid h2 {
    font-size: clamp(1.8rem, 2vw, 3rem);
  }
  body .main .subGrid div img {
    max-width: 80%;
    height: auto;
  }
}
@media (max-width: 480px) {
  body {
    max-width: 480px;
    min-width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
