
@use "global";

$blue: #4b6cad;
$blue2: #2551a8;
$violet: #72419d;

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: 5px;
    text-align: center;
    place-items: center;
    min-height: 90%;
    min-width: 90%;
    grid-template-areas:
        "header"
        "hr1"
        "welcome"
        "hr2"
        "main"
        "hr3"
        "footer";
}
.header { grid-area: header;
    margin: 40px auto 20px;
    h1 {
        font-size: clamp(4rem, 2vw, 6rem);
        background: linear-gradient(to left, $blue2, $violet);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
        0px 0px 10px rgba(66, 135, 245, 0.6);
        letter-spacing: 0.15em;
    }
}
.hr1 { grid-area: hr1;
    margin: 10px auto;
}
.welcome { grid-area: welcome;
    margin: 10px auto;
    p {
        font-size: clamp(1.5rem, 2vw, 3rem);
        max-width: 90vw;
        color:white;
        margin: 30px 40px;
        text-align: center;
        overflow-wrap: break-word;
        word-break: break-word;
        letter-spacing: 0.08em;
    }
    .mediaPlayer {
        width: 80%;
        align-self: center;
        margin: 0px auto;
        button {
            width: 100px;
            margin: 0px auto 10px;
            height: auto;
            img {
                width: 100px;
                height: auto;
            }
        }
    }
    .separator {
        width: 100px;
        height: 5px;
        padding: 10px;
        margin: 100px auto;
    }
}
.hr2 { grid-area: hr2;}
.main { grid-area: main;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    height: auto;
    .subGrid { display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-auto-flow: row;
        place-items: center;
        gap: 5px 2px;
        font-size: 2rem;
        width: 100%;
        height: auto;
        h2 {
            font-size: clamp(1.5rem, 2vw, 3rem);
            text-align: center;
            overflow-wrap: break-word;
            word-break: break-word;
            margin: 30px auto 10px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
            0px 0px 10px rgba(66, 135, 245, 0.6);
            letter-spacing: 0.1em;
        }
        div {
            place-items: center;
            .botones {
                margin: 10px auto;
                button {
                    font-size: 20px;
                    height: 40px;
                    min-width: 40px;
                    margin: 5px auto;
                }
            }
        }
        .price {
            font-size: clamp(1rem, 2vw, 1.5rem);
            margin: 10px auto;
        }
    }
    div {
        width: 90%;
        height: auto;
        padding: 2px;
        margin: 10px;
        img {
            max-width: 100%;
            height: auto;
            transition: 3s linear;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
.hr3 { grid-area: hr3;}
.footer { grid-area: footer;
    height: auto;
    width: auto;
    max-width: 60vw;
    padding: 40px 10px;
    margin: 5px auto;
    img {
        height: auto;
        width: 750px;
        max-width: 100%;
        transition: 2s linear;
        &:hover {
            transform: scale(1.15);
        }
    }
}

/*Media Queries*/

@media (max-width: 1024px) {
    body {
        max-width: 1024px;
        width: 100%;
        .header {
            width: 80%;
        }
        .main {
            .subGrid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: auto;
                place-items: center;
                gap: 10px 5px;
                margin: 5px auto;
                h2 {
                    font-size: clamp(1.8rem, 2vw, 3rem);
                }
                div {
                    img {
                        max-width: 80%;
                        height: auto;
                    }
                    .botones {
                        margin: 15px auto;
                        width: 60%;
                    }
                }
                .price {
                    font-size: clamp(1.4rem, 2vw, 2rem);
                }
            }
        }
        .footer {
            height: auto;
            min-width: 80%;
            width: 100%;
            padding: 5px;
            margin: 5px auto;
            figure {
                a {
                    img {
                        height: auto;
                        width: 100%;
                        transition: 2s linear;
                        &:hover {
                            transform: scale(1.15);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        max-width: 768px;
        min-width: 480px;
        width: 100%;
        .main {
            .subGrid {
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                place-items: center;
                gap: 50px 2px;
                h2 {
                    font-size: clamp(1.8rem, 2vw, 3rem);
                }
                div {
                    img {
                        max-width: 80%;
                        height: auto;
                    }
                }
                .price {
                    font-size: clamp(1.5rem, 2vw, 2rem);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    body {
        max-width: 480px;
        min-width: 350px;
        .header {
            h1 {
                font-size: clamp(2.5rem, 2vw, 3rem);
            }
        }
        .main {
            .subGrid {
                div {
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}