
@use "global";

$blue: #4b6cad;
$blue2: #2551a8;
$violet: #72419d;

.mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: 5px;
    text-align: center;
    min-height: 90%;
    min-width: 90%;
    grid-template-areas:
        "header"
        "hr1"
        "main"
        "hr2"
        "footer";
}
.header { grid-area: header;
    margin: 30px auto 20px;
    h1 {
        font-size: clamp(4rem, 2vw, 6rem);
        background: linear-gradient(to left, $blue2, $violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.hr1 { grid-area: hr1;}
.main { grid-area: main;
    margin: 20px auto;
    padding: 10px;
    .subGrid {  display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        gap: 5px 2px;
        grid-auto-flow: row;
        font-size: 2rem;
        min-width: 100%;
        min-height: 100%;
        grid-template-areas:
            "uno dos tres"
            "cuatro cinco seis"
            "siete ocho nueve";
        h2 {
            font-size: clamp(1.5rem, 2vw, 3rem);
            text-align: center;
            overflow-wrap: break-word;
            word-break: break-word;
            margin: 10px auto;
        }
        div {
            .botones {
                margin: 10px auto;
                button {
                    height: 25px;
                    min-width: 25px;
                    margin: 2px auto;
                }
            }

        }
    }
        .uno { grid-area: uno; }
        .dos { grid-area: dos; }
        .tres { grid-area: tres; }
        .cuatro { grid-area: cuatro; }
        .cinco { grid-area: cinco; }
        .seis { grid-area: seis; }
        .siete { grid-area: siete; }
        .ocho { grid-area: ocho; }
        .nueve { grid-area: nueve; }
    div {
        width: 90%;
        height: auto;
        padding: 2px;
        margin: 10px;
        img {
            max-width: 100%;
            height: auto;
            transition: 3s linear;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
.hr2 { grid-area: hr2;}
.footer { grid-area: footer;
    height: auto;
    max-width: 60vw;
    padding: 40px 10px;
    margin: 5px auto;
    img {
        height: 750px;
        width: 750px;
        max-width: 100%;
        transition: 2s linear;
        &:hover {
            transform: scale(1.15);
        }
    }
}